html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100%;
  height: 50px;
  background-color: gainsboro;
}

.heading {
  text-align: center;
}

.controls {
  padding: 2rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}

.controls .dropdown {
  width: 30%;
}

.controls .checkbox {
  width: 10%;
}

.map-container {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.map-container #map {
  width: 100%;
  height: 100%;
}
